
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<address>
    ASHIQUR RAHMAN<br />
    Software Engineer<br />
    House:72, Road:15, Sector:11<br />
    Uttara, Dhaka-1230<br />
    <abbr title="Phone">Phone:</abbr>
    <p> +8801611928274<br />
        +8801911928274</p><br />
</address>

<address>
    Hridoy Roy<br />
    Software Developer<br />
    House:54, Road:11, Sector:10<br />
    Uttara, Dhaka-1230<br />
    <abbr title="Phone">Phone:</abbr>
    <p>
        +8801787917335<br />
        +8801646789277
    </p><br />
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:roy.hridoy2014@gmail.com">roy.hridoy2014@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>