
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeLayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Javascript carousel</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Javascript carousel" />

    <!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->

    <link href="~/Content/GymImage/style.css" rel="stylesheet" />
    <script src="~/Content/GymImage/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->

</head>
<body>

    <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
    <div id="wowslider-container1">
        <div class="ws_images col-md-12 ">
            <ul>
                <li>

                    <img src="~/Content/GymImage/data1/images/crowdedgym.jpg" alt="" title="" id="wows1_0" />
                </li>
                <li><img src="~/Content/GymImage/data1/images/gymglidewell05.jpg" alt="" title="" id="wows1_1" /></li>
                <li><<img src="~/Content/GymImage/data1/images/photo1540558870477e8c59bf88421.jpg" alt="css image slider" title="" id="wows1_2" /></li>
                <li><img src="~/Content/GymImage/data1/images/photo1541600278744d4cba88bb2c7.jpg" alt="" title="" id="wows1_3" /></li>
            </ul>
        </div>
        @*<div class="ws_bullets">
                <div>
                    <a href="#" title=""><span><img src="~/Content/GymImage/data1/tooltips/crowdedgym.jpg" alt="" />1</span></a>
                    <a href="#" title=""><span><img src="~/Content/GymImage/data1/tooltips/gymglidewell05.jpg" alt="" />2</span></a>
                    <a href="#" title=""><span><img src="~/Content/GymImage/data1/tooltips/photo1540558870477e8c59bf88421.jpg" alt="" />3</span></a>
                    <a href="#" title=""><span><img src="~/Content/GymImage/data1/tooltips/photo1541600278744d4cba88bb2c7.jpg" alt="" />4</span></a>
                </div>
            </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript carousel</a> by WOWSlider.com v8.8</div>
            <div class="ws_shadow"></div>*@
    </div>
    @*<script type="text/javascript" src="~/Content/GymImage/wowslider.js"></script>
        <script type="text/javascript" src="~/Content/GymImagescript.js"></script>*@
    <!-- End WOWSlider.com BODY section -->
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</body>
</html>


